Options -MultiViews

RewriteEngine On

RewriteBase /WebServicesFinalProject/WebService/api

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^/?([A-Za-z]+)/(.*)$ index.php?$1=$2 [QSA,L]